# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyc

# virtual environment
venv/
env/
ENV/
.venv/
.env/

# pipenv
Pipfile.lock

# poetry
poetry.lock

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# coverage
.coverage
.coverage.*
htmlcov/
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.log

# pytest
.pytest_cache/

# pyre type checker
.pyre/

# =========================
# MacOS
# =========================
.DS_Store
.AppleDouble
.LSOverride
# Icon files
Icon?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# =========================
# IDE / Editor
# =========================
# VS Code
.vscode/

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# =========================
# Others
# =========================
*.sqlite3
*.db
*.sqlite
*.bak
*.swp
env.py